div {
  margin: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  color:white;
  font-weight:bold;
  font-family: Arial;
  background: rgba(0,0,255,0.75);
  border-radius: 50%;
  animation: radial-pulse 1.5s infinite;
}
@keyframes radial-pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.5);
  }

  100% {
    box-shadow: 0 0 0 25px rgba(0, 0, 0, 0);
  }
}